apiVersion: v1
data:
  Corefile: |
    .:53 {
        errors
        health
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           upstream
           fallthrough in-addr.arpa ip6.arpa
        }
        prometheus :9153
        proxy . /etc/resolv.conf
        cache 30
        loop
        reload
        loadbalance
    }
kind: ConfigMap
metadata:
  creationTimestamp: "2019-03-20T15:39:58Z"
  name: coredns
  namespace: kube-system
  resourceVersion: "225"
  selfLink: /api/v1/namespaces/kube-system/configmaps/coredns
  uid: 6b1428d5-4b26-11e9-8f3b-fa163eb7a9f3
