apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"custom-metrics-apiserver"},"name":"custom-metrics-apiserver","namespace":"custom-metrics"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"custom-metrics-apiserver"}},"template":{"metadata":{"labels":{"app":"custom-metrics-apiserver"},"name":"custom-metrics-apiserver"},"spec":{"containers":[{"args":["/adapter","--secure-port=6443","--logtostderr=true","--v=10"],"image":"nadamdb/test-custom-metrics-adapter:latest","imagePullPolicy":"IfNotPresent","name":"custom-metrics-apiserver","ports":[{"containerPort":6443,"name":"https"},{"containerPort":8080,"name":"http"}],"volumeMounts":[{"mountPath":"/tmp","name":"temp-vol"}]}],"serviceAccountName":"custom-metrics-apiserver","volumes":[{"emptyDir":{},"name":"temp-vol"}]}}}}
  creationTimestamp: "2019-07-22T13:28:37Z"
  generation: 1
  labels:
    app: custom-metrics-apiserver
  name: custom-metrics-apiserver
  namespace: custom-metrics
  resourceVersion: "16311553"
  selfLink: /apis/extensions/v1beta1/namespaces/custom-metrics/deployments/custom-metrics-apiserver
  uid: 9cec359e-ac84-11e9-858a-fa163eb7a9f3
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: custom-metrics-apiserver
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: custom-metrics-apiserver
      name: custom-metrics-apiserver
    spec:
      containers:
      - args:
        - /adapter
        - --secure-port=6443
        - --logtostderr=true
        - --v=10
        image: nadamdb/test-custom-metrics-adapter:latest
        imagePullPolicy: IfNotPresent
        name: custom-metrics-apiserver
        ports:
        - containerPort: 6443
          name: https
          protocol: TCP
        - containerPort: 8080
          name: http
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /tmp
          name: temp-vol
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: custom-metrics-apiserver
      serviceAccountName: custom-metrics-apiserver
      terminationGracePeriodSeconds: 30
      volumes:
      - emptyDir: {}
        name: temp-vol
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2019-07-22T13:28:44Z"
    lastUpdateTime: "2019-07-22T13:28:44Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2019-07-22T13:28:38Z"
    lastUpdateTime: "2019-07-22T13:28:44Z"
    message: ReplicaSet "custom-metrics-apiserver-56bbb6cbd8" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
