apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"rbac.authorization.k8s.io/v1","kind":"ClusterRole","metadata":{"annotations":{},"name":"prometheus-adapter"},"rules":[{"apiGroups":[""],"resources":["nodes","namespaces","pods","services"],"verbs":["get","list","watch"]}]}
  creationTimestamp: "2019-03-20T15:49:09Z"
  name: prometheus-adapter
  resourceVersion: "1563"
  selfLink: /apis/rbac.authorization.k8s.io/v1/clusterroles/prometheus-adapter
  uid: b32e6254-4b27-11e9-8f3b-fa163eb7a9f3
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  - namespaces
  - pods
  - services
  verbs:
  - get
  - list
  - watch
