apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"rbac.authorization.k8s.io/v1","kind":"ClusterRoleBinding","metadata":{"annotations":{},"name":"prometheus-operator"},"roleRef":{"apiGroup":"rbac.authorization.k8s.io","kind":"ClusterRole","name":"prometheus-operator"},"subjects":[{"kind":"ServiceAccount","name":"prometheus-operator","namespace":"monitoring"}]}
  creationTimestamp: "2019-03-20T15:49:08Z"
  name: prometheus-operator
  resourceVersion: "1461"
  selfLink: /apis/rbac.authorization.k8s.io/v1/clusterrolebindings/prometheus-operator
  uid: b2afc5d4-4b27-11e9-8f3b-fa163eb7a9f3
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus-operator
subjects:
- kind: ServiceAccount
  name: prometheus-operator
  namespace: monitoring
