apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"rbac.authorization.k8s.io/v1","kind":"RoleBinding","metadata":{"annotations":{},"name":"prometheus-k8s","namespace":"haproxy-controller"},"roleRef":{"apiGroup":"rbac.authorization.k8s.io","kind":"Role","name":"prometheus-k8s"},"subjects":[{"kind":"ServiceAccount","name":"prometheus-k8s","namespace":"monitoring"}]}
  creationTimestamp: "2019-07-18T13:44:10Z"
  name: prometheus-k8s
  namespace: haproxy-controller
  resourceVersion: "15790119"
  selfLink: /apis/rbac.authorization.k8s.io/v1/namespaces/haproxy-controller/rolebindings/prometheus-k8s
  uid: 1f5e6c26-a962-11e9-858a-fa163eb7a9f3
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: prometheus-k8s
subjects:
- kind: ServiceAccount
  name: prometheus-k8s
  namespace: monitoring
