apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"rbac.authorization.k8s.io/v1","kind":"ClusterRole","metadata":{"annotations":{},"name":"haproxy-ingress-cluster-role"},"rules":[{"apiGroups":[""],"resources":["configmaps","endpoints","nodes","pods","services","namespaces","events","serviceaccounts"],"verbs":["get","list","watch"]},{"apiGroups":["extensions"],"resources":["ingresses","ingresses/status"],"verbs":["get","list","watch"]},{"apiGroups":[""],"resources":["secrets"],"verbs":["get","list","watch","create","patch","update"]},{"apiGroups":["extensions"],"resources":["ingresses"],"verbs":["get","list","watch"]}]}
  creationTimestamp: "2019-07-18T13:21:32Z"
  name: haproxy-ingress-cluster-role
  resourceVersion: "15788024"
  selfLink: /apis/rbac.authorization.k8s.io/v1/clusterroles/haproxy-ingress-cluster-role
  uid: f5c44840-a95e-11e9-858a-fa163eb7a9f3
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - endpoints
  - nodes
  - pods
  - services
  - namespaces
  - events
  - serviceaccounts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - extensions
  resources:
  - ingresses
  - ingresses/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
  - create
  - patch
  - update
- apiGroups:
  - extensions
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
