apiVersion: apps/v1
kind: ReplicaSet
metadata:
  annotations:
    deployment.kubernetes.io/desired-replicas: "1"
    deployment.kubernetes.io/max-replicas: "2"
    deployment.kubernetes.io/revision: "1"
  creationTimestamp: "2019-03-20T15:49:08Z"
  generation: 1
  labels:
    k8s-app: prometheus-operator
    pod-template-hash: 7cb68545c6
  name: prometheus-operator-7cb68545c6
  namespace: monitoring
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: Deployment
    name: prometheus-operator
    uid: b2b45f85-4b27-11e9-8f3b-fa163eb7a9f3
  resourceVersion: "16842494"
  selfLink: /apis/apps/v1/namespaces/monitoring/replicasets/prometheus-operator-7cb68545c6
  uid: b2b61f02-4b27-11e9-8f3b-fa163eb7a9f3
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: prometheus-operator
      pod-template-hash: 7cb68545c6
  template:
    metadata:
      creationTimestamp: null
      labels:
        k8s-app: prometheus-operator
        pod-template-hash: 7cb68545c6
    spec:
      containers:
      - args:
        - --kubelet-service=kube-system/kubelet
        - --logtostderr=true
        - --config-reloader-image=quay.io/coreos/configmap-reload:v0.0.1
        - --prometheus-config-reloader=quay.io/coreos/prometheus-config-reloader:v0.29.0
        image: quay.io/coreos/prometheus-operator:v0.29.0
        imagePullPolicy: IfNotPresent
        name: prometheus-operator
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 200m
            memory: 200Mi
          requests:
            cpu: 100m
            memory: 100Mi
        securityContext:
          allowPrivilegeEscalation: false
          procMount: Default
          readOnlyRootFilesystem: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      nodeSelector:
        beta.kubernetes.io/os: linux
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      serviceAccount: prometheus-operator
      serviceAccountName: prometheus-operator
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  fullyLabeledReplicas: 1
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
