apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"monitoring.coreos.com/v1","kind":"ServiceMonitor","metadata":{"annotations":{},"labels":{"k8s-app":"alertmanager"},"name":"alertmanager","namespace":"monitoring"},"spec":{"endpoints":[{"interval":"30s","port":"web"}],"selector":{"matchLabels":{"alertmanager":"main"}}}}
  creationTimestamp: "2019-03-20T15:49:08Z"
  generation: 1
  labels:
    k8s-app: alertmanager
  name: alertmanager
  namespace: monitoring
  resourceVersion: "1486"
  selfLink: /apis/monitoring.coreos.com/v1/namespaces/monitoring/servicemonitors/alertmanager
  uid: b2e439c2-4b27-11e9-8f3b-fa163eb7a9f3
spec:
  endpoints:
  - interval: 30s
    port: web
  selector:
    matchLabels:
      alertmanager: main
