apiVersion: v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{},"labels":{"alertmanager":"main"},"name":"alertmanager-main","namespace":"monitoring"},"spec":{"ports":[{"name":"web","nodePort":30903,"port":9093,"targetPort":"web"}],"selector":{"alertmanager":"main","app":"alertmanager"},"type":"NodePort"}}
  creationTimestamp: "2019-03-20T15:49:08Z"
  labels:
    alertmanager: main
  name: alertmanager-main
  namespace: monitoring
  resourceVersion: "1481"
  selfLink: /api/v1/namespaces/monitoring/services/alertmanager-main
  uid: b2e0b0f7-4b27-11e9-8f3b-fa163eb7a9f3
spec:
  clusterIP: 10.110.65.9
  externalTrafficPolicy: Cluster
  ports:
  - name: web
    nodePort: 30903
    port: 9093
    protocol: TCP
    targetPort: web
  selector:
    alertmanager: main
    app: alertmanager
  sessionAffinity: None
  type: NodePort
status:
  loadBalancer: {}
