apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"monitoring.coreos.com/v1","kind":"ServiceMonitor","metadata":{"annotations":{},"labels":{"k8s-app":"prometheus"},"name":"prometheus","namespace":"monitoring"},"spec":{"endpoints":[{"interval":"30s","port":"web"}],"selector":{"matchLabels":{"prometheus":"k8s"}}}}
  creationTimestamp: "2019-03-20T15:49:09Z"
  generation: 3
  labels:
    k8s-app: prometheus
  name: prometheus
  namespace: monitoring
  resourceVersion: "1583885"
  selfLink: /apis/monitoring.coreos.com/v1/namespaces/monitoring/servicemonitors/prometheus
  uid: b378bccb-4b27-11e9-8f3b-fa163eb7a9f3
spec:
  endpoints:
  - interval: 30s
    port: web
  selector:
    matchLabels:
      prometheus: k8s
