apiVersion: v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{},"labels":{"k8s-app":"prometheus-operator"},"name":"prometheus-operator","namespace":"monitoring"},"spec":{"clusterIP":"None","ports":[{"name":"http","port":8080,"targetPort":"http"}],"selector":{"k8s-app":"prometheus-operator"}}}
  creationTimestamp: "2019-03-20T15:49:08Z"
  labels:
    k8s-app: prometheus-operator
  name: prometheus-operator
  namespace: monitoring
  resourceVersion: "1468"
  selfLink: /api/v1/namespaces/monitoring/services/prometheus-operator
  uid: b2b622fc-4b27-11e9-8f3b-fa163eb7a9f3
spec:
  clusterIP: None
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: http
  selector:
    k8s-app: prometheus-operator
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
