apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"monitoring.coreos.com/v1","kind":"ServiceMonitor","metadata":{"annotations":{},"labels":{"k8s-app":"alertmanager"},"name":"alertmanager","namespace":"monitoring"},"spec":{"endpoints":[{"interval":"30s","port":"web"}],"selector":{"matchLabels":{"alertmanager":"main"}}}}
  generation: 1
  labels:
    k8s-app: alertmanager
  name: alertmanager
  selfLink: /apis/monitoring.coreos.com/v1/namespaces/monitoring/servicemonitors/alertmanager
spec:
  endpoints:
  - interval: 30s
    port: web
  selector:
    matchLabels:
      alertmanager: main
