apiVersion: v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{},"labels":{"alertmanager":"main"},"name":"alertmanager-main","namespace":"monitoring"},"spec":{"ports":[{"name":"web","nodePort":30903,"port":9093,"targetPort":"web"}],"selector":{"alertmanager":"main","app":"alertmanager"},"type":"NodePort"}}
  creationTimestamp: null
  labels:
    alertmanager: main
  name: alertmanager-main
  selfLink: /api/v1/namespaces/monitoring/services/alertmanager-main
spec:
  externalTrafficPolicy: Cluster
  ports:
  - name: web
    port: 9093
    protocol: TCP
    targetPort: web
  selector:
    alertmanager: main
    app: alertmanager
  sessionAffinity: None
  type: NodePort
status:
  loadBalancer: {}
