apiVersion: v1
kind: Service
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"v1","kind":"Service","metadata":{"annotations":{},"labels":{"name":"prometheus-adapter"},"name":"prometheus-adapter","namespace":"monitoring"},"spec":{"ports":[{"name":"https","port":443,"targetPort":6443}],"selector":{"name":"prometheus-adapter"}}}
  creationTimestamp: null
  labels:
    name: prometheus-adapter
  name: prometheus-adapter
  selfLink: /api/v1/namespaces/monitoring/services/prometheus-adapter
spec:
  ports:
  - name: https
    port: 443
    protocol: TCP
    targetPort: 6443
  selector:
    name: prometheus-adapter
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
