apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"nodejs-cpu"},"name":"nodejs-cpu-deployment","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"nodejs-cpu"}},"template":{"metadata":{"labels":{"app":"nodejs-cpu"}},"spec":{"containers":[{"image":"balazska/nodejs_app:v1","name":"nodejs-app-cpu","ports":[{"containerPort":3000}],"resources":{"limits":{"cpu":"100m"},"requests":{"cpu":"100m"}}}]}}}}
  creationTimestamp: null
  generation: 1
  labels:
    app: nodejs-cpu
  name: nodejs-cpu-deployment
  selfLink: /apis/apps/v1/namespaces/default/deployments/nodejs-cpu-deployment
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: nodejs-cpu
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-cpu
    spec:
      containers:
      - image: balazska/nodejs_app:v1
        imagePullPolicy: IfNotPresent
        name: nodejs-app-cpu
        ports:
        - containerPort: 3000
          protocol: TCP
        resources:
          limits:
            cpu: 100m
          requests:
            cpu: 100m
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status: {}
